#businesses{
    margin: auto;
    padding-top: 45px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#businesses__category{
    min-width: 200px;
    position: fixed;
    height: 100vh;
}


#businesses__business{
    flex-shrink: 1;
    margin-left: 200px;
    width: 300px;
}

#businesses__detail{
    padding-top:15px;
    width: 500px;
    height: 100vh;
    flex-shrink: 1;
    position: fixed;
    margin-left: 500px;
}


#businesses__detail__info{
    padding: 10px;
    font-family: arial;
    margin: 10px;
    background: white;
    border-radius: 2%;
    max-height: 70vh;
    overflow-y:auto;
}


#businesses__detail__info img{
    width: 450px;
    border-radius: 2px;
}