#posts #load{
    text-align: center;
    padding: 2px;
    background: #efefef;
    margin: 15px;
    border-radius: 30px;
    border: 1px solid #a0a0a0;
    color: #6d6d6d;
    cursor: pointer;
    visibility: hidden;
}
  